<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="drawer-nav" #drawer>
        <mat-nav-list role="list">
            <a mat-list-item routerLink="/inicio">
                <mat-icon matListItemIcon class="material-icons">home</mat-icon>
                <span>
                    Inicio
                </span>
            </a>
            <a mat-list-item routerLink="/razas">
                <mat-icon matListItemIcon class="material-icons">search</mat-icon>
                <span>
                    Buscador
                </span>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>