.drawer-container {
    width: auto;
    height: 100%;
    background: #E7EDFA;
}

.drawer-nav {
    min-width: 15%;
    background-color: #A8C4FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: white;
}